.al {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  gap: 0;
}
.al .checkbox-container {
  display: flex;
  /* background-color: red; */
  width: 120px;
  flex-direction: row;
  margin-bottom: 60px;
  .tickbox-container {
    width: 40px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c9c9c9;
    .tickbox-head {
      height: 40px;
      width: 40px;
      border-bottom: 1px solid #c9c9c9;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tickbox-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  .name-container {
    width: 80px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    .name-head {
      height: 40px;
      border-bottom: 1px solid #c9c9c9;
      align-content: center;
      justify-items: center;
    }
    .name-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
.al .chart-container {
  display: flex;
  /* background-color: blue; */
  flex-grow: 1;
}
.al .chart-container .chart {
  width: 80vw;
  margin: 12px 0px 50px 0px;
  /* background-color: blue; */
}

.al .checkbox-container .name-list .name-content {
  background-color: white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #c9c9c9; /* Optional: to see the stretch */
}
.al .checkbox-container .tickbox-list .tickbox-content {
  background-color: white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #c9c9c9; /* Optional: to see the stretch */
  img {
    height: 24px;
    width: 24px;
  }
}
.al .checkbox-container .tickbox-list .tickbox-content:hover {
    background-color: rgb(243, 243, 243);
}
